.highlight {
    background-color: salmon;
}

.inactive {
    border: solid 2px blue;
}

.active {
    border: solid 2px green;
}

.important {
    font-weight: 900;
    border: solid 2px red;
}